<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/img/HanSeek.png">
    <title>HanSeek</title>
</head>
<body>
<div class="container">
    <div>
        <h2>Finish! </h2>
        <p>Thanks for trying our service</p>
        <br>
        <br>
        <p>Are you curious about our service?</p>
        <p>Then come and visit our website!</p>
        <br>
        <a href="https://hanseek.netlify.app/">About Hanseek</a>
        <p>We wish you enjoyed it! Thank you!</p>
    </div>
</div>
</body>
</html>


