<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/home.css">
    <title >HanSeek</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/HanSeek.png">
</head>
<body>
<div class="container">
    <div>
        <h1>HanSeek </h1>
        <p>Welcome!</p>
        <p style="font-weight: bold">Do you want to find your K-soul Food?</p>
        <br>
        <p>We are creating an AI based Korean food curation service for foreigners.</p>
        <br>
        <p>Your participation will help us create more accurate and helpful Korean food recommendation service!</p>
        <br>
        <p>Respondents will be entered into a drawing to win a Starbucks gift certificate.</p>
        <p>Also, We are planning to make a meet-up event with 5 of the respondents</p>
        <p>We'll have delicious Korean food together, and of course - it's on us:)</p>
        <p>
        <br>
            <form action="/queries/query1" method="post">
                <button class="survey_submit_button" type="submit" >Let's Start!</button>
            </form>
    </div>
</div>
</body>
</html>



