<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>🍚HanSeek</title>
</head>
<body>
<div class="container">
    <div>
        <h1>🍚HanSeek</h1>
        <p>Welcome!</p>
        <p>Do you want to find your K-soul Food?</p>
        <br>
        <br>
        <br>
        <br>
        <p>we are creating an AI based Korean food curation</p>
        <p>service for foreigners.</p>
        <br>
        <p>Your participation will help us</p>
        <p>create more accurate and helpful</p>
        <p>Korean food recommendation service!</p>
        <br>
        <p>We are planning to make a meet-up event</p>
        <p>with 5 of the respondents as well</p>
        <p>The date is March 15th.</p>
        <p>We'll have delicious Korean food together</p>
        <p>and of course, it's on us:)</p>
        <p>
            <form action="/queries/query1" method="post">
                <button type="submit" class="navyBtn">Let's Start!</button>
            </form>
    </div>
</div>
</body>
</html>


