<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🍚HanSeek</title>
</head>
<body>
Question4
<br>
Your Id :
<th th:text="${userId}"></th>
<form action="/answer_4" method="post">
    <input type="hidden" name="userId" th:value="${userId}">
    <input type="hidden" name="answerString" th:value="${answerString}">
    <button type="submit" name="answer_4_button" value="0">Ricecake</button>
    <button type="submit" name="answer_4_button" value="1">Noodle</button>
    <button type="submit" name="answer_4_button" value="2">Rice</button>
    <button type="submit" name="answer_4_button" value="3">Nope</button>
</form>
</body>
</html>