<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HanSeek</title>
</head>
<body>

<br>
<h3>What kind of main ingredients do you want?</h3>
    <form action="/answer_1" method="post">
        <div>
            <input type="hidden" name="userId" th:value="${userId}">
            <input type="hidden" name="answerString" th:value="${answerString}">
            <button type="submit" name="answer_1_button" value="12">Meat</button>
            <button type="submit" name="answer_1_button" value="31">Fish</button>
            <button type="submit" name="answer_1_button" value="11">I like both</button>
            <button type="submit" name="answer_1_button" value="32">I don't like both</button>
        </div>
    </form>
</body>
</html>